body{
}

.carousel-item {
    height: 30vh;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit:cover;
}

#home {
    padding-top: 10px;
}

.display-1{
    font-size: x-large;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
    color: #16404D;
}

.rounded, .float-right img{
    width: 100vh;
    height: 45vh;
    padding-right: 20px;
    object-fit: cover;
}

img{
    border-radius: 10px;
}

.lead{
    font-size: larger;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    color: #DDA853;
}

.card-deck{
    border: 5px solid #16404D;
    padding: 20px;
    margin-bottom: 20px;
}

.card-img-top{
    padding-top: 5px;
    border-radius: 5%;
}

div .card {
    padding: 10px;
    border-radius: 20px;
   border: 5px solid #DDA853 ;
transition: 400ms;
}

.card h5{
    font-size: x-large;
    /* color: #16404D;   */
    text-decoration: underline;
    text-align: center;
}

.card p{
    text-align: justify;
}

.Cards h1{
    color: #16404D;
    text-decoration: underline;
    font-size: 4.5rem;
    text-align: center;
}

.card:hover{
    background-color: #16404D;
    color: white;
    transform: scale(1.1, 1.1);
}

.Cards{
    padding-top: 0px;
    text-align: center;
    background-color: #FBF5DD;
}

#registration{
    padding-top: 10px;
    background-color: #FBF5DD;
    border: 5px solid #16404D;
    padding: 20px;
    width: 50%;
    align-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#registration h1{
    font-size: 3rem;
    color: #16404D;
    text-decoration: underline;
    text-align: center;
}

#registration input[type="text"], #registration input[type="email"], #registration input[type="password"], #registration input[type="submit"]{
    margin-bottom: 10px;
}

#registration button{
    background-color: #16404D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#registration button:hover{
    background-color: #DDA853;
    color: white;
}
